<div class="going">» إتصل بنا</div>
<br />
<form action="?act=contact&do=send" method="post">
<table cellpadding="0" cellspacing="2">
<tr><td class="form_label">الاسم</td><td><input class="form_input" type="text" name="name" /></td></tr>
<tr><td class="form_label">البريد الإلكتروني</td><td><input class="form_input" type="text" name="email" /></td></tr>
<tr><td class="form_label">موضوع الرسالة</td><td><input class="form_input" type="text" name="subject" /></td></tr>
<tr><td class="form_label">نص الرسالة</td><td><textarea class="form_text" name="message"></textarea></td></tr>
<tr><td class="form_label">رمز التحقق</td><td><input class="form_input" style="background: url('./includes/captcha.php') no-repeat left;" type="text" name="code" /></td></tr>
<tr><td class="form_buttons" colspan="2"><input type="submit" value="إرسال" /></td></tr>
</table>
</form>