
</div></div>
<!-- To close content and to clear footer -->
<!-- Footer Start -->
<div id="footer">
	<div class="ftr">
	<div style="float:left;padding-left:10px;padding-top:10px;font:11px;">Powered by <a href="http://ahlulbayt-g.com/" target="_blank" class="footer_link">Ahlulbayt Portal v1.1</a></div><br />
	<div style="clear:both"></div>
	<div style="float:left;padding-left:10px;padding-top:5px;font:11px;">Developed by <a href="http://ahlulbayt-g.com/" target="_blank" class="footer_link">Ahlulbayt Group</a></div>
	</div>
</div>
</div></div></div>
</body>
</html>