<script type="text/javascript">
$(document).ready(function() {
	$("#comment_submit").click(function() {
		$.image(
			"images.php?action=add_comment",
			$("#comment_form").serialize(),
            function(data) {
                $("#comment_form_notif").fadeOut().fadeIn().html(data);
                //$("#comment_submit").removeClass("loading");
			}
		);
	});
});
</script>
<div class="going">» <a href="?act=gallery">معرض الصور</a> » <a href="?act=gallery&show=cat&id={$image.cat_id}">{$image.cat_title}</a> » {$image.title} <a href="javascript:window.print()"><img alt="طباعة" border="0" src="templates/default/images/print.gif" align="left" /></a></div>
<br />
<div class="info_container">
<div class="page_title" title="">{$image.title}</div>
</div>
<br />
<table id="image_stats" width="100%" cellpadding="0" cellspacing="1">
<tr><td colspan="2"></td></tr>
<tr><td colspan="2" align="center">{$image.description}</td></tr>
<tr><td width="30%">تاريخ الإضافة</td><td>{$image.add_date}</td></tr>
<tr><td width="30%">عدد المشاهدات</td><td>{$image.views}</td></tr>
<tr><td width="30%">عدد التعليقات</td><td>{$image.num_comments}</td></tr>
</table>
<br />
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td width="50%" align="right">
{if $prev_image neq ""}<a href="?act=gallery&show=image&id={$prev_image.id}" title="{$prev_image.title}">&laquo; {$prev_image.title}</a>{/if}
</td>
<td width="50%" align="left">
{if $next_image neq ""}<a href="?act=gallery&show=image&id={$next_image.id}" title="{$next_image.title}">{$next_image.title} &raquo;</a>{/if}
</td>
</tr>
</table>
<br /><br />
<div id="comment">
<div class="info_container">
<div class="page_title" title="">التعليقات &laquo;{$image.num_comments}&raquo;</div>
</div>
<form action="" method="post">
<table width="100%" cellpadding="0" cellspacing="1">
<tr><td width="30%" class="td_title">الاسم</td><td><input type="text" name="name" style="width: 300px;" /></td></tr>
<tr><td class="td_title">البريد الإلكتروني</td><td><input type="text" name="email" style="width: 300px;" /></td></tr>
<tr><td class="td_title">التعليق</td><td><textarea name="comment" style="width: 300px; height: 100px;"></textarea></td></tr>
<tr><td class="td_title">كود التحقق</td><td><input type="text" name="captcha" style="width: 300px;" /></td></tr>
<tr><td colspan="2" align="center"><input type="submit" id="comment_submit" value="إرسال" /></td></tr>
</table>
</form>
</div>