<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">
<head>
<meta name="keywords" content="بوابة أهل البيت عليهم السلام | مجموعة أهل البيت البرمجية" />
<meta name="description" content="بوابة أهل البيت عليهم السلام | مجموعة أهل البيت البرمجية" />
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<!-- Title -->
<title>{$settings.title}</title>
<!-- Link REL / CSS -->
<link rel="stylesheet" type="text/css" href="templates/{$style}/manu.css" />
<link rel="stylesheet" type="text/css" href="templates/{$style}/style.css" />
</head>
<body>

<div align="center">
<div style="background:url('templates/{$style}/images/bg_top.gif') no-repeat top center;">
<!-- Site Outline Start -->
</div>
<!-- Under Header Start -->
<div><a href="?act=home"><img src="templates/{$style}/images/headertop-nodown.jpg" border="0" alt="بوابة أهل البيت ع" /></a></div>
<div class="body2">
<div style="clear:both"><img alt="" src="templates/{$style}/images/top_strip.gif" /></div>
<!-- Header END -->
<div class="outer">
<div id="container">
<!-- Body Block Start -->
<div class="bodyblock">