<div class="last_art">{$settings.message}</div>
<br />
{section name=tp loop=$cats}
<div class="cat">
<div class="categorytitle">
<a href="?act=articles&show=cat&id={$cats[tp].id}" class="cat_link">{$cats[tp].title}</a>
</div>
{section name=tpl loop=$cats[tp].articles}
<div class="row_container">
<div class="title_art" title=""><img alt="" src="templates/default/images/title_art.gif" border="0" hspace="3" /><a href="?act=articles&show=article&id={$cats[tp].articles[tpl].id}" class="cat_link">{$cats[tp].articles[tpl].title}</a></div>
<div class="small_info">تاريخ الإضافة: - | عدد القراءات: {$cats[tp].articles[tpl].views} | عدد التعليقات: 0</div>
</div>
{/section}
<div align="left"><a href='?act=articles&show=cat&id={$cats[tp].id}'><img src="templates/{$style}/images/more.gif" alt="إقرأ البقية" title="إقرأ البقية" border="0" /></a></div>
{/section}
</div>
</div>
</div>